@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}


body {
    width: 100%;
    height: 100vh;
    background: #000814;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 400px;
    height: 450px;
    background: #ffc300;
    border-radius: 10px;
    padding: 10px;
}

input {
    height: 50px;
    width: 100%;
    text-align: right;
    border: none;
    outline: none;
    margin-bottom: 15px;
    background: transparent;
    font-size: 40px;
    margin-top: 20px;
}

button {
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
}

.equal {
    background: #001d3d;
    color: white;
}

.allClear {
    background: #001d3d;
    color: white;
}


@media screen and (max-width: 390px) {
    button {
        width: 30px;
        height: 30px;
        font-size: 10px;
    }
    
    .calculator {
        background: #ffc300;
        height: 300px;
        padding-left: 0px;
        padding-top: 0px;
    }

    input {
        height: 30px;
        font-size: 20px;
    }
}